body {
  font: 300 18px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color:#444;
}
hr {
  border:none;
  border-top:1px solid #ddd;
  width:80%;
  margin:2em auto;
}
.wrapper {
  position:relative;
  width:960px;
  margin:60px auto 60px auto;
}
header {
  position:fixed;
  top:60px;
  width:270px;
}
main {
  width:600px;
  margin-left:360px;
}
a {
  color:#4A87B6;
}
a:hover {
  color:#ACCDE0;
}
h1:first-child {
  margin-top:0;
}
h1, h2, h3, h4 {
  margin: 0.83em 0 0.83em 0;
  font-size: 1.5em;
}
h4 + p {
  margin-top:0;
}

nav ul {
  margin:0;
  padding:0;
}
nav ul li {
  margin:0;
  padding:0;
  list-style-type:none;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
}
nav ul li:last-child {
  border-bottom: 1px solid #eee;
}
nav ul li a {
  text-decoration:none;
  color:inherit;
  display:block;
  padding:5px 5px 5px 10px;
  font-size: 16px;
}
nav ul li a:hover {
  color:inherit;
  background-color: rgba(243,244,246,0.5);
}
nav ul li.active {
  font-weight:bold;
  border-top: 1px solid #e5f3f9;
}
nav ul li.active + li {
  border-top: 1px solid #e5f3f9;
}
nav ul li.active a {
  background:#e5f3f9;
  color: #616161;
}

.highlight {
  font-size:12px;
  background:#fafafc;
  border-radius:3px;
  border:1px solid #e3e4e7;
  padding:10px;
  line-height: 1.4em;
}

.buttons {
  margin:40px 0 0 0;
  padding:0;
  width:100%;
  overflow:hidden;
}
.buttons li {
  margin:0 5px;
  width:80px;
  display:block;
  float:left;
  list-style-type:none;
  padding:0;
  text-align:center;
  font-size: 15px;
}
.buttons li a {
  text-decoration:none;
  display:block;
  background:#FFF;
  border-radius:4px;
  padding:4px 0;
}
.buttons li .download {
  border: 1px solid #55a61f;
  color: #55a61f;
}
.buttons li:hover .download {
  border: 1px solid #56bd1c;
  color: #56bd1c;
}
.buttons li .github {
  border: 1px solid #acacac;
  color: #acacac;
}
.buttons li:hover .github {
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
}

.note {
  border-radius:2px;
  border:1px solid #e2e3c8;
  background:#fffee0;
  padding:8px;
  display:block;
}
.about {
  font-size: 15px;
  line-height: 1.5em;
}

table {
  margin-bottom: 30px;
  margin-top: 10px;
}

table tr td, table tr th {
  border-right: 1px dotted #e0e2e8;
  border-top: 1px solid #e0e2e8;
  padding: 8px 8px 4px 8px;
  font-size: 16px;
}

table tr td:last-child, table tr th:last-child {
  border-right: none;
}

table thead tr th {
  color: #7ccfaf;
  font-weight: normal;
  border-top: none;
}