<!DOCTYPE html>
<html>
<head>
  <title>Error!</title>
</head>
<body>
<h1>Error!</h1>
<p>There was an error during your authentication process. </p>
<p>The error description is: <%=description%></p>
</body>
</html>
