<!DOCTYPE html>
<html>
<head>
  <title>Upload a file</title>
</head>
<body>
<form method="post" action="/upload" enctype="multipart/form-data">
  <input type="file" name="filefield">
  <input type="submit" value="Upload" name="submit">
</form>
</body>
</html>
