<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the demo</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="podio/podio-js.js"></script>
  <script src="javascript/sessionStore.js"></script>
  <script src="javascript/config.js"></script>
  <script src="javascript/authPopup.js"></script>
</head>
<body>
</body>
</html>
